<%- include('partials/header') %>

<div class="top-bar">
    <button class="about-btn" onclick="tabOptions(event, 'music')">Passion for Music</button>
    <button class="about-btn" onclick="tabOptions(event, 'coding')">Development / Coding</button>
</div>

<div id="music" class="tabcontent">
    <div class="about-p">
        <div class="music-content">
            <div class="music">
                <div class="audio-player">
                    <h1 class="song-title"></h1>
                    <div class="audio-player-controls">
                        <audio id="my-audio" controls="controls" controlsList="nodownload"></audio>
                    </div>
                    <hr>
                    <div class="song-list">
                        <div class="album">
                            <h3>Album 1</h3>
                            <% songs["Album 1"].forEach(song => { %> 
                                <button class="song" onclick="playSong(event)" data-album="Album1" data-song="<%= song %>"><%= song.slice(0, song.indexOf(".")) %></button>
                            <% }); %>
                        </div>
                        <div class="album">
                            <h3>Album 2</h3>
                            <% songs["Album 2"].forEach(song => { %> 
                                    <button class="song" onclick="playSong(event)" data-album="Album2" data-song="<%= song %>"><%= song.slice(0, song.indexOf(".")) %></button>
                            <% }); %>
                        </div>
                        <div class="album">
                            <h3>Album 3</h3>
                            <% songs["Album 3"].forEach(song => { %> 
                                    <button class="song" onclick="playSong(event)" data-album="Album3" data-song="<%= song %>"><%= song.slice(0, song.indexOf(".")) %></button>
                            <% }); %>
                        </div>
                        <div class="album">
                            <h3>Love</h3>
                            <% songs["Love"].forEach(song => { %> 
                                    <button class="song" onclick="playSong(event)" data-album="Love" data-song="<%= song %>"><%= song.slice(0, song.indexOf(".")) %></button>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="music-content-p">
                <li>I'm a self-taught guitarist who's been playing for <%= guitar %>  years!</li>
                <br>
                <li>I later taught myself music production and started recording my own music.</li>
                <br>
                <li>Music is a passion of mine that helps in so many ways. It's cathartic and allows me to express myself.</li>
                <br>
                <li>I can't imagine a world without music.</li>
            </div>
        </div>
    </div>
</div>

<div id="coding" class="tabcontent">
    <div class="about-p">
        <div class="coding-content">
            <h1>Coming soon...</h1>
        </div>
    </div>
</div>

<%- include('partials/footer') %>