<%- include('partials/header') %>

<div class="top-bar">
    <button class="about-btn" onclick="tabOptions(event, 'music')">Passion for Music</button>
    <button class="about-btn" onclick="tabOptions(event, 'coding')">Development / Coding</button>
</div>

<div id="music" class="tabcontent">
    <div class="about-p">
        <div class="music-content">
            <div class="music">
                <div class="audio-player">
                    <h1 class="song-title">Song Title</h1>
                    <div class="audio-player-controls">
                        <audio id="my-audio" controls="controls" controlsList="nodownload"></audio>
                    </div>
                    <hr>
                    <div class="song-list">
                        <table>
                            <tr>
                                <th>Album 1</th>
                            </tr>
                            <% songs["Album 1"].forEach(song => { %> 
                                <tr>
                                    <td><button class="song" onclick="playSong(event)" data-album="album1" data-song="<%= song %>"><%= song.slice(0, song.indexOf(".")) %></button></td>
                                </tr>
                            <% }); %>
                        </table>
                        <table>
                            <tr>
                                <th>Album 2</th>
                            </tr>
                            <% songs["Album 2"].forEach(song => { %> 
                                <tr>
                                    <td><button class="song" onclick="playSong(event)" data-album="album2" data-song="<%= song %>"><%= song.slice(0, song.indexOf(".")) %></button></td>
                                </tr>
                            <% }); %>
                        </table>
                        <table>
                            <tr>
                                <th>Album 3</th>
                            </tr>
                            <% songs["Album 3"].forEach(song => { %> 
                                <tr>
                                    <td><button class="song" onclick="playSong(event)" data-album="album3" data-song="<%= song %>"><%= song.slice(0, song.indexOf(".")) %></button></td>
                                </tr>
                            <% }); %>
                        </table>
                        <table>
                            <tr>
                                <th>Love</th>
                            </tr>
                            <% songs["Love"].forEach(song => { %> 
                                <tr>
                                    <td><button class="song" onclick="playSong(event)" data-album="love" data-song="<%= song %>"><%= song.slice(0, song.indexOf(".")) %></button></td>
                                </tr>
                            <% }); %>
                        </table>
                    </div>
                </div>
            </div>
            <div class="music-content-p">
                <li>I'm a self-taught guitarist who's been playing for <%= guitar %>  years!</li>
                <br>
                <li>I later taught myself music production and started recording my own music.</li>
                <br>
                <li>Music is a passion of mine that helps in so many ways. It's cathartic and allows me to express myself.</li>
                <br>
                <li>I can't imagine a world without music.</li>
            </div>
        </div>
    </div>
</div>

<div id="coding" class="tabcontent">

</div>

<%- include('partials/footer') %>