<%- include('partials/header') %>

<div class="top-bar">
    <button class="about-btn" onclick="tabOptions(event, 'music')">Passion for Music</button>
    <button class="about-btn" onclick="tabOptions(event, 'coding')">Development / Coding</button>
</div>

<div id="music" class="tabcontent">
    <div class="about-p">
        <div class="music-content">
            <div class="music">
                <div class="audio-player">
                    <h1 class="song-title"></h1>
                    <div class="audio-player-controls">
                        <audio id="my-audio" controls="controls" controlsList="nodownload"></audio>
                    </div>
                    <hr>
                    <div class="song-list">
                        <div class="album">
                            <h3>Album 1</h3>
                            <% songs["Album 1"].forEach(song => { %> 
                                <button class="song" onclick="playSong(event)" data-album="Album1" data-song="<%= song %>"><%= song.slice(0, song.indexOf(".")) %></button>
                            <% }); %>
                        </div>
                        <div class="album">
                            <h3>Album 2</h3>
                            <% songs["Album 2"].forEach(song => { %> 
                                    <button class="song" onclick="playSong(event)" data-album="Album2" data-song="<%= song %>"><%= song.slice(0, song.indexOf(".")) %></button>
                            <% }); %>
                        </div>
                        <div class="album">
                            <h3>Album 3</h3>
                            <% songs["Album 3"].forEach(song => { %> 
                                    <button class="song" onclick="playSong(event)" data-album="Album3" data-song="<%= song %>"><%= song.slice(0, song.indexOf(".")) %></button>
                            <% }); %>
                        </div>
                        <div class="album">
                            <h3>Love</h3>
                            <% songs["Love"].forEach(song => { %> 
                                    <button class="song" onclick="playSong(event)" data-album="Love" data-song="<%= song %>"><%= song.slice(0, song.indexOf(".")) %></button>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="music-content-p">
                <li>I'm a self-taught guitarist who's been playing for <%= guitar %>  years!</li>
                <br>
                <li>I later taught myself music production and started recording my own music.</li>
                <br>
                <li>Music is a passion of mine that helps in so many ways. It's cathartic and allows me to express myself.</li>
                <br>
                <li>I can't imagine a world without music.</li>
            </div>
        </div>
    </div>
</div>

<div id="coding" class="tabcontent">
    <div class="about-p">
        <div class="coding-content">
            <h1>On the road to becoming a <span>pro</span>grammer...</h1>
            <div class="code-content">
                <div class="content powershell">
                    <img class="ps-logo" src="images/ps_logo.png" alt="powershell logo">
                    <p>
                        I began my journey with learning a few powershell commands, not only because I wanted to be able to pull computer data almost instantaneously but also I think it's an essential tool that every
                        IT professional should know. I eventually started building scripts consisting of functions and conditional statements. With this, I started to understand the basic logic
                        behind programming. After some time, I started building automation scripts for transfering files and finding hard disk space and ram amounts.
                    </p>
                </div>
                <hr>
                <div class="content web-dev">
                    <div class="icons">
                        <i class="fa fa-html5" ></i>
                        <i class="fab fa-css3-alt"></i>
                    </div>
                    <p>
                        Back when I was in college I took a web-development class for a semester. It was just front-end, static files and no JavaScript so I was already familiar with how
                        html and css work. But, I wanted to learn JavaScript so that I can have functions and event listeners on my web apps so that I can give it more life; animations.
                        At first I started an introductory course on Plurarlsite, which was great, but it felt like it wasn't really sticking. A buddy of mine told me about Udemy, so I 
                        bought a web-development course and it helped a lot. It was a good refresher into html and also how to use JavaScript. After a while, I started learning about back-end 
                        Development, so I began learning about NodeJS and ExpressJS. How they work and what their functions are. I then learned about templateing engines; peers at work used HandleBars,
                        but I personally liked EJS more.
                    </p>
                    <div class="icons">
                        <i class="fab fa-js"></i>
                        <i class="fab fa-node"></i>
                    </div>
                </div>
                <hr>
                <div class="content python">
                    <div class="icons">
                        <i class="fab fa-python"></i>
                    </div>
                    <p>
                        I've always had the dream of building computer games, so I began taking a course on udemy for video game development, but in the midst of learning it I got pretty bored of it.
                         So, started learning python for more practical reasons, like: task automation and data science. I did achieve my goal of building games with python, although they were basic 
                         recreation of classic games like snake, turtle crossing, and pong. I also learned how to manipulate files and export them into dictionaries (json format) then to CSVs. It comes 
                         in handy for apps used for scheduling or record keeping. I also learned how to use APIs and web-scraping. Also using selenium to build bots to perform tasks on the internet like 
                         running a speed test at https://www.speedtest.net/ and then sending the results to you. I then learned about web development with flask, using janga as a templating engine.
                    </p>
                </div>
                <h3>For as far as I've come, all the knowledge I've gained, I know that I still have much more to learn. Happy Coding!</h1>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>